<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v7.0&appId=2594196780898171&autoLogAppEvents=1" nonce="axKbOumA"></script>

<header class="header">
  <div class="header-nav">
    
    <a href="/">
      <img class="logo" src="/logo.png" alt="STYLISH" href="/">
    </a>
    
    <div class="menu">
      <a class="menu-1" href="/?tag=women">女裝</a> 
      <a class="menu-2" href="/?tag=men">男裝</a>          
      <a class="menu-3" href="/?tag=accessories">配件</a>
    </div>

    <div class="searchbox">
      <form action="/">
        <input id="searchbox" name="keyword" type="text">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    
    <a class="cartBtn cart" href="#">
      <!-- <img class='cart' src="/cart.png" alt=""> -->
      <div id="cart-qty" class="qty">0</div>
    </a>
    
    <a class="memberBtn" href="#">
      <img class="member" src="/member.png" alt="">
    </a>      

    </div>
  </div>

  <div class="header-btm">

  </div>

</header>