<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="./css/thankyou.css">
  <title>Stylish 2020 Spring</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
  <section class="container">

    <div id="header">

    </div>

    <div class="bodyContent">
        <h2>Thank you for purchasing!<br> We will process your product in no time! </h2>
    </div>

    <div id="footer">

    </div>

    <div id="forms">
      
    </div>
    
</section>

<script>
  $(function(){
    $('#header').load('./reusehtml/reuseHeader.html');
    $('#footer').load('./reusehtml/reuseFooter.html');
    $('#forms').load('./reusehtml/reuseForm.html', () => {        
      $.getScript("./js/headerForm.js")
      $.getScript("./js/getProfile.js")
    })
    $.getScript("https://js.tappaysdk.com/tpdirect/v5.1.0", () => {
      $.getScript("./js/tapPay.js");
    });
  });
</script>

</body>
</html>

