@import "indexAll.css";

/* BANNER */

.banner {
  width: 100%;
  height: 550px;
  position: relative;
}

.carousel {
  height: 100%;
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-position: center;
  display: block;
  transition: ease-out 1s;
  position: absolute;
}

.show {
  opacity: 1;
  z-index: 6;
}

.story {
  width: 100%;
  max-width: 1200px;
  margin: 166px auto 0;
  padding-left: 27px;
  line-height: 50px;
  color: black;
  font-weight: 50;
  font-size: 1.6em;
  text-shadow: 0px 0px 5px #ffffff;
  opacity: 0.9;
  z-index: 20;
}

.step {
  position: absolute;
  width: 300px;
  bottom: 20px;
  left: calc(50% - 150px);
  text-align: center;
  z-index: 30;
}

.circle {
  height: 15px;
  width: 15px;
  margin: 0 10px;
  opacity: 0.75;
  background-color: #ffffff;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  transition: ease-out 1.5s;
}

.circle-b {
  background-color: black;
}

/* BODY-CONTENT */

.body {
  min-height: calc(100vh - 750px);
  max-width: 1450px;
  margin: 2.2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-product {
  font-size: 26px;
  font-weight: 600;
}

.view {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 40px;
  font-size: 1.1em;
  letter-spacing: 4px;
  margin: 0 auto;
  justify-content: center;
  padding: 0 24px;
}

.colors {
  display: flex;
  margin: 15px 0;
}

.color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.name {
  margin-bottom: 10px;
}

.name,
.view .price {
  color: black;
  font-weight: 50;
  opacity: 0.65;
}

.product {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img {
  width: 100%;
  min-width: 150px;
}

@media only screen and (max-width: 1024px) {
  .banner {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .view {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 30px;
    padding: 0 30px;
  }

  .name,
  .view .price {
    font-size: 14px;
  }

  .story {
    font-size: 1.3rem;
    margin: 70px auto 0;
  }

  .banner {
    height: 320px;
  }

  .body {
    min-height: calc(100vh - 620px);
  }

  .no-product {
    font-size: 20px;
  }
}
